*{
	margin: 0;padding: 0;box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	width: 100% ; height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('../images/features.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

nav{
	background: rgba(0,0,0,0.4);
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
}

nav ul{
	float: right;
	margin-right: 20px;
	text-decoration: none;color: white;
	font-weight: bold;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color:white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.home,a:hover{
	background: gray;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;

}
#check{
	display: none;
}
@media(max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media(max-width:858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height:100vh;
		background: gray;
		top:80px;
		left:-100%;
		text-align: center;
		transition: all .5s;

	}
	nav ul li{
		display:block;
		margin: 50px 0;
		line-height:30px;

	}
	nav ul li a{
		font-size: 20px;

	}
	a:hover,a.home{
		background: none;
		color:rgb(209, 205, 205);
	}
	#check:checked ~ ul{
		left:0;
	}
}
main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	color: white;
}
section{

}
section h3{
	font-size: 45px;font-weight: bold;letter-spacing: 5px;
	text-shadow: 5px 5px 5px black;

	

}
section h1{
	margin: 60px 0 20px 0;
	font-size: 60px;
	font-weight: 700;
	text-shadow: 5px 5px 10px black;
	text-transform: uppercase;
}
section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}
section a {
	padding: 12px 30px;
	border-radius: 3px;
	outline: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 900;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bolder;
	transition: all .5s ease;
}
section .btnone{
	background: #fff;
	color: #000;
}
.btnone:hover{background: grey;
	color:white;

}
section .btntwo{
	background: grey;
	color:white;
}
.btntwo:hover{background: #fff;
	color: #000;

}
.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color:grey;
}
@keyframes changetext{
	0%{content:"technology";}
	25%{content:"art";}
	45%{content:"dedication";}
	60%{content:"hardwork";}
	80%{content:"unity";}
	100%{content:"creativity";}

}